.position_box {
  position: fixed;
  //left: calc((100% - 1920px)/2);
  //left: 25px;
  //right: -140px;
  right: 0;
  //bottom: 10px;
  bottom: 0;
  display: block;
  width: 200px;
  z-index: 4;
  transition: bottom 0.3s ease-in-out;
}
.lang_box {
  //position: fixed;
  //left: calc((100% - 1920px)/2);
  //bottom: 20px;
  //margin-left: 25px;
  position: relative;
  max-width: 200px;
  width: 100%;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  &.active {
    //background: #363c43;
    -webkit-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
    -moz-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
    box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
    transition: all 0.3s ease-in-out;
    &::before {
      opacity: 1;
      transform: scale(1,1);
      transition: all 0.3s ease-in-out;
    }
    .selected_lang .lang_link {
      color: var(--gray, #e8ebef);
      background: var(--font_color, #242527);
    }
    .lang_list {
      -webkit-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
      -moz-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
      box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
      opacity: 1;
      transform: scale(1,1);
      transition: all 0.3s ease-in-out;
    }
    .open_btn {
      span {
        border-width: 0 5px 6px 5px;
        border-color: transparent transparent #e8ebef transparent;
        transition: all 0.3s ease-in-out;
      }
      &:hover span {
        border-color: transparent transparent #ffffff transparent;
      }
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: #363c43;
    border-radius: 0 0 20px 20px;
    transform-origin: top;
    opacity: 0;
    transform: scale(1,0);
    transition: all 0.3s ease-in-out;
  }
}
.lang_box_wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  padding: 10px;
}
.lang_list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 60px;
  display: block;
  padding: 10px;
  background: #363c43;
  z-index: 5;
  border-radius: 20px 20px 0 0 ;
  transform-origin: bottom;
  transform: scale(1,0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.lang_link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  color: var(--gray, #e8ebef);
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--white, #fff);
    transition: all 0.3s ease-in-out;
    &::before {
      margin-left: 10px;
      margin-right: 5px;
      transition: all 0.3s ease-in-out;
    }
    &::after {
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
  &::before {
    display: inline-block;
    content: '';
    margin-left: 0;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    transition: all 0.3s ease-in-out;
  }
  &.en::before {
    background-image: url("../css/img/lang_box/flag_england.svg");
  }
  &.de::before {
    background-image: url("../css/img/lang_box/flag_germany.svg");
  }
  &.ro::before {
    background-image: url("../css/img/lang_box/flag_romania.svg");
  }
  &.sv::before {
    background-image: url("../css/img/lang_box/flag_sweden.svg");
  }
  &.pl::before {
    background-image: url("../css/img/lang_box/flag_poland.svg");
  }
  &.uk::before {
    background-image: url("../css/img/lang_box/flag_ukraine.svg");
  }
  &.tr::before {
    background-image: url("../css/img/lang_box/flag_turkey.svg");
  }
  &.zh::before {
    background-image: url("../css/img/lang_box/flag_china.svg");
  }
  &.ru::before {
    background-image: url("../css/img/lang_box/flag_russia.svg");
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: var(--font_color, #242527);
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}
.selected_lang {
  .lang_link {
    color: var(--font_color, #242527);
    background: var(--gray, #e8ebef);
  }
}
.open_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  span {
    display: block;
    margin: 0 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #363c43 transparent transparent transparent;
    transition: all 0.3s ease-in-out;
  }
}

//***************//
//  Responsive   //************************************************************************************
//***************//
@media screen and (max-width: 1919px) {
  .lang_box {
    left: 0;
  }
}
// @media screen and (max-width: 1919px) **************************************************************


@media screen and (max-width: 1080px) {
  .position_box {
    left: 5px;
  }
}
// @media screen and (max-width: 1080px) **************************************************************


@media screen and (max-width: 1023px) {
  .lang_list {
    bottom: unset;
    top: 100%;
    transform-origin: top;
    border-radius: 0 0 20px 20px;
  }
  .lang_box::before {
    border-radius: 20px 20px 0 0;
    transform-origin: bottom;
  }
}
// @media screen and (max-width: 1023px) **************************************************************


//@media screen and (min-width: 768px) {
//  .lang_box {
//    &:hover,
//    &:focus {
//      -webkit-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
//      -moz-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
//      box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
//      transition: all 0.3s ease-in-out;
//      &::before {
//        opacity: 1;
//        transform: scale(1,1);
//        transition: all 0.3s ease-in-out;
//      }
//      .selected_lang .lang_link {
//        color: var(--gray, #e8ebef);
//        background: var(--font_color, #242527);
//      }
//      .lang_list {
//        -webkit-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
//        -moz-box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
//        box-shadow: 0 4px 8px 2px rgba(54,60,67,0.4);
//        transform: scale(1,1);
//        opacity: 1;
//        transition: all 0.3s ease-in-out;
//      }
//      .open_btn {
//        span {
//          border-width: 0 5px 6px 5px;
//          border-color: transparent transparent #e8ebef transparent;
//          transition: all 0.3s ease-in-out;
//        }
//        &:hover span {
//          border-color: transparent transparent #ffffff transparent;
//        }
//      }
//    }
//  }
//}
// @media screen and (min-width: 768px) **************************************************************