.h1 {
  font-size: 30px;
}
.h2 {
  font-size: 24px;
}
.mt-25 {
  margin-top: 25px;
}
.fz-18 {
  font-size: 18px;
}
.content_403 {
  display: block;
  padding-bottom: 50px;
  width: 100%;
  .document_input_description {
    position: relative;
    margin-top: 30px;
    padding-top: 40px;
    height: auto;
    font-size: 12px;
    font-weight: 400;
    .btn {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -55%);
      font-size: 12px;
    }
  }
}
.info_box {
  position: relative;
}
.info_text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  color: var(--menu_color, #363b43);
  span {
    display: block;
    text-align: center;
  }
}
.img_403 {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
.live_chat_link {
  position: relative;
  z-index: 1;
  transform: translateY(-50%);
}
.info_footer {
  display: block;
  width: 100%;
  text-align: center;
}
.info_footer.bold {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .content_403 .logo.desctop {
    display: flex;
    visibility: visible;
    position: unset;
    height: 100px;
    max-width: unset;
    .img_logo {
      min-width: 140px;
      min-height: 80px;
    }
  }
}
// @media screen and (max-width: 1023px) *********************************************************
@media screen and (max-width: 660px) {
  .h1 {
    font-size: 20px;
  }
  .h2 {
    font-size: 18px;
  }
  .info_text,
  .info_footer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .info_text {
    position: unset;
    transform: translateX(0);
  }
}
// @media screen and (max-width: 660px) *********************************************************










