@import url(libs/reset.css);
@import url(libs/slick.css);
@import url(libs/slick-theme.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.dn {
	display: none !important;
}
* {
	box-sizing: border-box;
}
b,
strong,
.bold {
	font-weight: 700;
}
small {
	font-size: 0.8em;
}
.big {
	font-size: 1.6em;
	font-weight: 700;
}
.ttu {
	text-transform: uppercase;
}
body {
	font-size: 16px;
	font-weight: 400;
	color: #001f3f;
	font-family: "Open Sans", sans-serif;
	background: #e6e6e6;
	overflow-x: hidden;
}
h1,
.h1 {
	font-size: 28px;
}
h2,
.h2 {
	font-size: 22px;
}
h1,
.h1,
h2,
.h2 {
	margin-bottom: 0.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
h3,
.h3 {
	font-weight: 700;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
}
.contact__table tr td:first-child {
	font-style: italic;
}
.contact__table td {
	display: block;
}
.contact__table a {
	color: #002bed;
	font-weight: 700;
}
.contact__table a:hover {
	text-decoration: underline;
}
.sv__box {
	max-width: 1170px;
}
.sv__item {
	margin-bottom: 30px;
	padding: 15px;
	border-radius: 30px;
	background: #e6e6e6;
	box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #fdfdfd;
}
.sv__item h3 {
	position: relative;
	margin-top: 1em;
	margin-bottom: 0;
}
.sv__item h3:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -20px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #002bed;
}
.sv__item h4 {
	font-style: italic;
}
.sv__item ul {
	padding-left: 15px;
}
.sv__item li {
	list-style-type: circle;
}
.sv__avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}
.portfolio {
	max-width: 1170px;
}
.portfolio__slider {
	margin: 0 -15px 15px;
}
.portfolio__slider-item {
	padding: 15px 15px 0;
}
.portfolio__slider-item:hover .portfolio__img {
	background-position: bottom center;
}
.portfolio__slider-item .sv__item {
	margin-bottom: 15px;
}
.portfolio__slider-item .h3 {
	display: block;
	color: #001f3f;
	text-transform: uppercase;
	text-align: center;
}
.portfolio__slider-item h5 {
	text-align: center;
}
.portfolio__img {
	display: block;
	width: 100%;
	height: 0;
	margin-bottom: 15px;
	padding-bottom: 100%;
	box-sizing: content-box;
	background-color: #cdc4e6;
	background-position: top center;
	background-size: cover;
	border-radius: 25px;
	transition: background-position 0.6s linear;
}
.portfolio__img.mini {
	background-image: url("img/portfolio/mini.jpg");
}
.portfolio__img.bennett {
	background-image: url("img/portfolio/bennett.jpg");
}
.portfolio__img.simplerender {
	background-image: url("img/portfolio/simolerender.jpg");
}
.portfolio__img.dentaltravel {
	background-image: url("img/portfolio/dentaltravel.jpg");
}
.portfolio__img.mosstroitel {
	background-image: url("img/portfolio/mosstroitel.jpg");
}
.portfolio__img.bluerex {
	background-image: url("img/portfolio/bluerex.jpg");
}
.portfolio__img.protectimobil {
	background-image: url("img/portfolio/protectimobil.jpg");
}
.portfolio__img.coil {
	background-image: url("img/portfolio/coil.jpg");
}
.work-ex {
	position: relative;
}
.work-ex:before {
	content: "";
	position: absolute;
	top: 75px;
	left: 22px;
	display: block;
	width: 2px;
	height: calc(100% - 100px);
	background: #002bed;
}
.work-ex__point {
	padding-left: 20px;
}
.certificate__link {
	display: block;
}
.certificate__link img {
	width: 100%;
	object-fit: contain;
}
.certificate__link + .certificate__link {
	margin-top: 15px;
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 10px 15px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 700;
	color: #151515;
	text-transform: uppercase;
	background: #cacaca;
	box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #fdfdfd;
	transition: box-shadow 0.3s ease-in-out;
}
.btn:hover {
	transform: scale(0.98);
	box-shadow: inset 5px 5px 10px #cfcfcf, inset -5px -5px 10px #fdfdfd;
}
.slick-prev,
.slick-next {
	top: 0;
	transform: translate(0, -52px);
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #e6e6e6;
	box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #fdfdfd;
}
.slick-prev:before,
.slick-next:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 10px;
	height: 10px;
	background: transparent;
	border-top: 3px solid #002bed;
	border-left: 3px solid #002bed;
	border-top-left-radius: 5px;
}
.slick-prev:hover,
.slick-next:hover {
	transform: translate(0, -52px) scale(0.98);
	box-shadow: inset 5px 5px 10px #cfcfcf, inset -5px -5px 10px #fdfdfd;
}
.slick-prev {
	left: 15px;
}
.slick-prev:before {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.slick-next {
	right: 15px;
}
.slick-next:before {
	transform: translate(-50%, -50%) rotate(135deg);
}
@media screen and (min-width: 550px) {
	.avatar {
		grid-area: avatar;
	}
	.contact {
		grid-area: contact;
	}
	.about-me {
		grid-area: about-me;
	}
	.portfolio {
		grid-area: portfolio;
		width: calc(100vw - 30px);
	}
	.work-ex {
		grid-area: work-ex;
	}
	.education {
		grid-area: education;
	}
	.languages {
		grid-area: languages;
	}
	.qualities {
		grid-area: qualities;
	}
	.certificate {
		grid-area: certificate;
	}
	.sv__box {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 30px;
		grid-template-areas: "avatar contact" "about-me about-me" "portfolio portfolio" "work-ex work-ex" "education certificate" "languages certificate" "qualities .";
	}
}
@media screen and (min-width: 750px) {
	.sv__box {
		grid-template-areas: "avatar contact" "avatar about-me" "portfolio portfolio" "work-ex education" "work-ex certificate" "work-ex languages" "work-ex qualities";
	}
}
@media screen and (min-width: 991px) {
	.contact__table td {
		display: table-cell;
	}
	.sv__box {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: "avatar contact contact" "avatar about-me about-me" "portfolio portfolio portfolio" "work-ex work-ex certificate" "work-ex work-ex languages" "work-ex work-ex education" ". . qualities";
	}
}
/*# sourceMappingURL=style.css.map */
