//***********************//
//      Animation        //
//***********************//

@keyframes size {
  0%,100% {
    width: 0;
    height: 0;
  }
  50% {
    width: 350px;
    height: 350px;
  }
}
@keyframes back-pos {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
@keyframes back-size {
  0%,100% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
}
@keyframes pulse {
  0% {
    box-shadow:
            0 0 0 4px rgba($active_main_color, 0.4),   // top
            0 0 0 8px rgba($active_main_color, 0.3),
            0 0 0 0 rgba($active_main_color, 0.6);    // bottom
  }
  100% {
    box-shadow:
            0 0 0 4px rgba($active_main_color, 0.4),   // top
            0 0 0 8px rgba($active_main_color, 0.3),
            0 0 0 18px rgba($active_main_color, 0);    // bottom
  }
}
@keyframes pulse_click {
  0% {
    box-shadow:
            0 0 0 4px rgba($active_main_color, 0.4),   // top
            0 0 0 8px rgba($active_main_color, 0.3),
            0 0 0 0 rgba($active_main_color, 0.6);     // bottom
  }
  100% {
    box-shadow:
            0 0 0 8px rgba($active_main_color, 0),   // top
            0 0 0 12px rgba($active_main_color, 0),
            0 0 0 22px rgba($active_main_color, 0);  // bottom
  }
}
@keyframes pulse-second {
  0% {
    box-shadow:
            0 0 0 4px rgba($second_color, 0.4),   // top
            0 0 0 8px rgba($second_color, 0.3),
            0 0 0 0 rgba($second_color, 0.6);    // bottom
  }
  100% {
    box-shadow:
            0 0 0 4px rgba($second_color, 0.4),   // top
            0 0 0 8px rgba($second_color, 0.3),
            0 0 0 18px rgba($second_color, 0);    // bottom
  }
}
@keyframes pulse_click-second {
  0% {
    box-shadow:
            0 0 0 4px rgba($second_color, 0.4),   // top
            0 0 0 8px rgba($second_color, 0.3),
            0 0 0 0 rgba($second_color, 0.6);     // bottom
  }
  100% {
    box-shadow:
            0 0 0 8px rgba($second_color, 0),   // top
            0 0 0 12px rgba($second_color, 0),
            0 0 0 22px rgba($second_color, 0);  // bottom
  }
}
@keyframes pulse-yellow {
  0% {
    box-shadow:
            0 0 0 4px rgba(#ffcc00, 0.4),   // top
            0 0 0 8px rgba(#ffcc00, 0.3),
            0 0 0 0 rgba(#ffcc00, 0.6);    // bottom
  }
  100% {
    box-shadow:
            0 0 0 4px rgba(#ffcc00, 0.4),   // top
            0 0 0 8px rgba(#ffcc00, 0.3),
            0 0 0 18px rgba(#ffcc00, 0);    // bottom
  }
}
@keyframes pulse_click-yellow {
  0% {
    box-shadow:
            0 0 0 4px rgba(#ffcc00, 0.4),   // top
            0 0 0 8px rgba(#ffcc00, 0.3),
            0 0 0 0 rgba(#ffcc00, 0.6);     // bottom
  }
  100% {
    box-shadow:
            0 0 0 8px rgba(#ffcc00, 0),   // top
            0 0 0 12px rgba(#ffcc00, 0),
            0 0 0 22px rgba(#ffcc00, 0);  // bottom
  }
}