body {
    color: #4d4d4d;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1;
}
.wrapper {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}
.section {
    padding: 105px 0 100px;
}
h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 90px;
}
h1 .lg {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    display: block;
    letter-spacing: -3px;
}
h1 .sm {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
}
h2 {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 35px;
}
h6,h4 {
    color: #0d0d0d;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px 
}
p {
    line-height: 28px;
}
.hr {
    border-bottom: 2px solid #e6e6e6;
    margin: 120px 0;
}
/*buttons-start*/
.btn {
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    padding: 11px 35px 0;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:hover {
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-color: #f39c12;
}
.btn-warning {
    color: #0d0d0d;
    border-color: #f39c12;
}
.btn-sm {
    height: 38px;
    padding-top: 9px;
}
input.btn, button.btn {
    padding-top: 0 !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/*buttons-end*/
/*form-start============================================*/
.form-field {
    position: relative;
    margin-bottom: 10px;
}
.form-field-icon {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 20px;
    text-align: center;
    color: #808080;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.form-field-icon .icon-mail {
    font-size: 12px;
}
.form-control {
    display: block;
    padding: 0 70px 0 25px;
    width: 100%;
    height: 45px;
    border: 2px solid #d9d9d9;
    background-color: #fff;
    color: #808080;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.form-control:focus {
    border-color: #f39c12;
}
.form-control:focus + span {
    color: #f39c12;
}
textarea.form-control {
    min-height: 125px;
    resize: none;
    padding: 10px;
}
/*form-end==============================================*/
/*header-start*/
header {
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    z-index: 99;
}
.header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}
.menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.menu_item {
    margin-left: 90px;
    position: relative;
}
.menu_item::after {
    content: '\\\\';
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 40px;
}
.menu_item:last-child::after {
    display: none;
}
.menu_link {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}
.menu_link:hover {
    color: #0d0d0d;
}
/*header-end*/
/*banner-start*/
.banner {
    padding-top: 450px;
    padding-bottom: 280px;
    height: 1100px;
    text-align: center;
    background: url("../img/banner.png") no-repeat center top; 
}
.banner-slider .slick-dots {
    margin-top: 80px;
}
/*
.banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
	height: calc(100vh + 100px);
	overflow: hidden;
	text-align: center;
	background: url("../img/banner.png") no-repeat center top;
	background-size: cover;
}

.banner:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100vw solid transparent;
}
*/
/*banner-end*/
/*About-start*/
.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto 150px;
}
.heading h2{
    width: 200px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    text-align: right;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    position: relative;
    margin-right: 40px;
}
.heading h2::after{
    content: '';
    display: block;
    width: 4px;
    height: 45px;
    background-color: #f39c12;
    position: absolute;
    left: 100%;
    margin-left: 19px;
    top: 50%;
    margin-top: -22px;
}
.heading p{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.about-wrap-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    -webkit-box-flex: 1;
    
    -ms-flex: 1;
    
    flex: 1;
}
.about-wrap-content_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-size: 40px;
    margin-right: 29px;
    border: 2px solid #f39c12;
    background-color: #fff;
    border-radius: 50%;
}
.about-wrap-content_text h6{
    margin-bottom: 20px;
}
.about-wrap-content_text p{
    line-height: 28px;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
}
.about-wrap-content_text .about-text {
    line-height: 28px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
}
.about-wrap-img {
    position: relative;
    margin-left: 60px;
}
.about-wrap-img {
    max-width: 100%;
    display: block;
}
.about-wrap-img_icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/*About-end*/
/*Box-skills-start*/
.box-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.box-skills_item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 50%;
}
.box-skills_item-img {
    padding-right: 50px;
    text-align: right;
}
.box-skills_item-img img {
    display: inline-block;
    max-width: 100%;
}
.box-skills_item-content {
    padding-left: 40px;
}
/*bars-start*/
.box-bars {
    margin-top: 60px;
}
.bars {
    margin-bottom: 35px;
}
.bars_title {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #0d0d0d;
    font-weight: 600;
    margin-bottom: 10px;
}
.bars_title span{
    color: #bfbfbf;
    font-weight: 600;
}
.bars_title .procent{
    color: #0d0d0d;
    font-weight: 300;
}
.bars-line {
    background: #e7e7e7;
    height: 10px;
}
.bars-line > div{
    background: #f49d09;
    height: 10px;
}
/*bars-end*/
/*Box-skills-end*/
.section-bg {
    height: 700px;
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url('../img/quote-bg.png') no-repeat center top;
    background-size: cover;
}
/*quote-start*/
.quote {
    text-align: center;
    color: #fff;
}
/*
.box-quote {
    padding: 250px 0;
    text-align: center;
    color: #fff;
}
*/
.quote-text {
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
    position: relative;
    padding: 0 70px;
    margin-bottom: 33px;
    color: #fff;
}
.quote-text::after,
.quote-text::before {
    content: '"';
    display: block;
    font-size: 110px;
    font-weight: 700;
    line-height: 60px;
    position: absolute;
    top: 0;
}
.quote-text::before {
    left: 0;
}
.quote-text::after {
    right: 0;
}
.quote-author {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
}
.quote-author::before {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto 20px;
    background-color: #f39c12;
}
/*quote-end===================================================================================*/
/*team-start==================================================================================*/
.team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.team-list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 269px;
    padding: 25px 15px 30px;
    text-align: center;
    border-top: 4px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-list_item:hover {
    background-color: #f0f0f0;
    border-color: #f39c12;
}
.team-list_item:hover .team-list_job::after {
    background-color: #e74c3c;
}
.team-list_item .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
}
.team-list_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 62px;
    background-color: #e8f8f4;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #f2f2f2;
    position: relative;
    margin: 0 auto 25px;
}
.team-list_img::after {
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: -7px;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}
.team-list_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block; 
}
.team-list_item h4{
    text-transform: uppercase;
    font-weight: 700;    
}
.team-list_job {
    color: #999999;
    font-family: "Lato", sans-serif;
    font-size: 15;
    font-weight: 400;
}
.team-list_job::after {
    content: "";
    display: block;
    margin: 10px auto 15px;
    width: 20px;
    height: 4px;
    background-color: #cccccc;
}
.team-list_item p{
    line-height: 28px;
    color: #737373;
    font-size: 16px;
    margin-bottom: 25px;
}
.social_link {
    color: #999999;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.social_link:last-child {
    margin-right: 0;
}
.social_link:hover {
    color: #f39c12;
}
/*team-end==================================================================================*/
/*facts-list-start==========================================================================*/
.facts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.facts-list_item:hover .facts-list_icon {
    border: 2px solid #fff;
    border-radius: 50%;
}
.facts-list_item:hover .facts-list_icon [class*="icon"]::before{
    color: #f39c12;
}
.facts-list_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
    border: 2px solid #f39c12;
    border-radius: 50%;
    background-color: rgba(243, 156, 18, 0);
    font-size: 32px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.facts-list_icon [class*="icon"]::before{
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.facts-list_item h5 span{
    display: block;
    font-size: 45px;
    line-height: 45px;
}
.facts-list_item h5 {
    color: #fff;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    text-align: center;
}
/*facts-list-end===============================================================================*/
/*service-start================================================================================*/
.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    margin: 0 -15px;
}
.service-list_item {
    padding: 0 15px;
}
.service-list_item:hover .service-list_icon {
    background-color: #f39c12;
}
.service-list_item:hover .service-list_icon [class*="icon"]::before{
    color: #fff;
}
.service-list_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 105px;
    height: 105px;
    margin: 0 auto 30px;
    border: 2px solid #f39c12;
    border-radius: 50%;
    background-color: rgba(243, 156, 18, 0);
    font-size: 27px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.service-list_icon [class*="icon"]::before{
    color: #0d0d0d;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.service-list_item h6 {
    margin-bottom: 25px;
}
.service-list_item p{
    line-height: 28px;
    color: #737373;
    font-size: 16px;
}
.box-pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.box-pricing .service-list_icon {
    margin-left: 0;
    width: 125px;
    height: 125px;
    font-size: 32px;
}
.pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
    margin-left: 5%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.pricing_item {
    width: 250px;
    border: 1px solid #e6e6e6;
}
.pricing_item:first-child {
    margin-top: 16px;
    border-right: none;
}
.pricing_item:last-child {
    margin-top: 16px;
    border-left: none;
}
.pricing_item.active {
    border-right: none;
    border-left: none;
    border-top: 17px solid #f39c12;
    border-bottom: 11px solid #e6e6e6;
    background-color: #f2f2f2;
}
.pricing_item.active .pricing-header {
    background-color: #f39c12;
}
.pricing-header {
    padding: 28px 28px;
}
.pricing-header_title {
    color: #0d0d0d;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}
.pricing_item.active .pricing-header_title {
    color: #fff;
}
.pricing-header_title span::before{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f39c12;
    margin: 5px auto;
}
.pricing_item.active .pricing-header_title span::before{
    background-color: #fff;
}
.pricing-list {
    list-style: none;
}
.pricing-list li {
    color: #737373;
    font-size: 15px;
    line-height: 18px;
    padding: 15px;
    border-top: 1px solid #e6d6e6;
}
.pricing-list li:last-child {
    border-bottom: 1px solid #e6d6e6;
}
.pricing-list li:nth-child(odd){
    background: #fafafa;
}
.pricing_item.active .pricing-list li:nth-child(odd){
    background-color: #e6e6e6;
}
.pricing-footer {
    padding: 34px 28px;
}
.pricing_item.active .pricing-footer {
    background-color: #e6e6e6;
}
.pricing-footer .btn{
    height: 38px;
    padding: 9px 33px 0;
}
/*service-end=================================================================================*/
/*testimonial-start===========================================================================*/
.testimonial-slider .slick-dots {
    margin-top: 26px;
}
.testimonial {
    text-align: center;
    color: #fff;
}
.testimonial_text {
    margin: 35px 0 25px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
}
.testimonial .quote-author::before {
    display: none;
}
.testimonial .quote-author::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    margin: 20px auto 0px;
    background-color: #f39c12;
}
.testimonial_avatar {
    width: 104px;
    height: 104px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial_avatar img{
    display: block;
    width: 100%;
}
/*testimonial-end==============================================================================*/
/*tab-start====================================================================================*/
.nav-tab-list {
    list-style: none;
    text-align: center;
    margin-bottom: 80px;
}
.nav-tab-list__item {
    display: inline-block;
}
.nav-tab-list__item.active .nav-tab-list__link { color: #f39c12; }
.nav-tab-list__item::after {
    content: '\\\\';
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    color: #a6a6a6;
    margin: 0 18px;
}
.nav-tab-list__item:last-child::after {
    display: none;
}
.nav-tab-list__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: #0d0d0d;
}
.nav-tab-list__link:hover {
    color: #f39c12;
}
.hide {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
}
.tab-cont {
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.tab-cont.hide {
    opacity: 0; 
}
.portfolio-slider {
    position: relative;
}
.portfolio-slider .slick-dots {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.portfolio-slider .slick-dots li{
    margin: 5px 0;
    display: block;
}
.portfolio-slider-buttons {
    margin-top: 50px;
    margin-bottom: 24px;
    text-align: center;
}
.portfolio-slider-buttons button{
    width: 38px;
    height: 38px;
    border: 2 solid #e6e6e6;
    background-color: #fff;
    margin: 0 4px;
}
.portfolio-slider-footer {
    text-align: center;
    padding: 0;
    margin: 0;
}
.portfolio-slider-footer .portfolio-list__title {
    font-size: 20px;
}
.portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.portfolio-list__item {
    width: 25%;
    position: relative;
}
.portfolio-list__item:nth-child(2) .portfolio-list__img,
.portfolio-list__item:nth-child(4) .portfolio-list__img,
.portfolio-list__item:nth-child(5) .portfolio-list__img,
.portfolio-list__item:nth-child(7)  .portfolio-list__img{
    background-color: #b7b7b7;
}
.portfolio-list__item:hover .portfolio-list__preview {
    display: block;
}
.portfolio-list__item:hover .portfolio-list__img [class*="icon"] {
    display: none;
}
.portfolio-list__item:hover .portfolio-list__title {
    color: #f39c12;
}
.portfolio-list__item:hover .portfolio-list__img {
    background: #fff;
}
.portfolio-list__item:hover .portfolio-list__img img{
    opacity: 0.6;
}
.portfolio-list__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.portfolio-list__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 58px;
    
    
}
.portfolio-list__img img{
    display: block;
    width: 100%;
    
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.portfolio-list__footer {
    padding: 20px 10px;
    text-align: center;
}
.portfolio-list__title {
    line-height: 36px;
    color: #0d0d0d;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.portfolio-list__category {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
}
.portfolio-list__preview {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 98px;
    height: 98px;
    background: rgba(243, 156, 18, 0.5) url("../img/plus.png") no-repeat 50% 50%;
    border-radius: 50%;
    display: none;
    z-index: 3;
}
.portfolio-list__preview:hover {
    background-color: rgba(243, 156, 18, 0.8);
}
/*tab-end======================================================================================*/
/*tweet-start==================================================================================*/
.tweet {
    text-align: center;
    color: #fff;
}
.tweet-wrap-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 104px;
    height: 104px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
.tweet-wrap-icon img{
    display: block;
}
.tweet-wrap-text {
    margin: 35px 0 6px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}
.tweet-wrap-text a {
    color: #f39c12;
}
.tweet-wrap-text a:hover {
    text-decoration: underline;
}
.tweet-wrap-time {
    color: #808080;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 38px;
}
/*tweet-end=========================================*/
/*blog-start========================================*/
.blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.blog-list-item {
    width: calc(50% - 60px);
    margin-bottom: 60px;
    margin: 0 30px 60px;
}
.blog-list-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 58px;
    position: relative;
    overflow: hidden;
    background-color: #b7b7b7;
}
.blog-list-img:hover .blog-list-title {
    color: #f39c12;
}
.blog-list-img img {
    width: 100%;
    display: block;
    min-height: 300px;
}
.blog-list-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
}
.blog-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
}
.blog-list-title {
    background: #fff;
    padding: 25px 20px 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.blog-list-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #f39c12;
    font-size: 18px;
    color: #fff;
}
.blog-list-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
}
.blog-list-date {
    text-align: right;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}
.blog-list-date span{
    display: block;
    white-space: nowrap;
}
.blog-list-info {
    padding: 0 17px 0 40px;
}
.blog-list-info p{
    padding-bottom: 28px;
    line-height: 28px;
    color: #737373;
    font-size: 16px;
}
.blog-list-info .btn{
    height: 35px;
    font-size: 14px;
    padding: 8px 27px 0;
}
/*blog-end*/
/*clients-start*/
.clients h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 55px;
}
.clients-list {
    list-style: none;
    margin: 0 -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.clients-list-item {
    width: 257px;
    margin: 0 10px 20px;
}
.clients-list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    height: 162px;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}
.clients-list-item a:hover {
    border-color: rgba(255, 255, 255, 0.8);
}
.clients-list-item img {
    max-width: 100%;
    display: block;
    max-height: 100%;
}
/*clients-end*/
/*contact-start*/
.contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}
.contact-wrap .contact-form {
   padding-top: 8px; 
}
.contact-wrap-left {
    width: 53%; 
}
.contact-wrap-right {
    width: 47%;
    padding-left: 60px;
}
.contact-wrap h6 {
    margin-bottom: 30px;
}
.contact-wrap p{
    margin-bottom: 35px;
}
.contact-list {
    list-style: none;
}
.contact-list-item {
    position: relative;
    margin-bottom: 18px;
    padding-left: 50px;
    color: #0d0d0d;
    line-height: 25px;
    letter-spacing: -0.32px;
}
.contact-list-item a {
    color: #0d0d0d;
}
.contact-list-item a:hover {
    color: #f39c12;
}
.contact-list-item .icon {
    position: absolute;
    left: 0;
    top: -4px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #f39c12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/*contact-end*/
/*#map-start==============================================================================*/
#map {
    position: relative;
    overflow: hidden;
    height: 600px;
}
#map::after, #map::before {
	position: absolute;
	bottom: 0;
	left: 0;
    z-index: 1;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100vw solid transparent;
}
#map::before {
    top: 0;
	right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*#map-end=================================================================================*/
/*footer-start=============================================================================*/
.footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-flex .social {
    margin-left: auto;
}
.footer-flex .social_link {
    color: #0d0d0d;
}
.footer-flex .social_link:hover {
    color: #f39c12;
}
.copyright {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}
/*footer-end===============================================================================*/
.menu-toggle {
    display: none;
}
/*media-start==============================================================================*/

@media (max-height: 860px) {
    header {
        top: 40px;
    }
    .banner {
        min-height: 850px;
        padding-top: 200px;
    }
}
@media (max-width: 1199px) {
    header {
        top: 40px;
    }
    h1 {
        margin-bottom: 50px;
    }
    h1, h1 .sm {
        font-size: 38px;
        line-height: 45px;
    }
    h1 .lg {
        font-size: 50px;
        line-height: 66px;
    }
    .logo a {
        height: 120px;
        width: 120px;
        font-size: 34px;
        line-height: 34px;
    }
    .menu_item {
        margin-left: 54px;
    }
    .menu_item::after {
        margin-left: 20px;
    }
    .heading {
        margin-bottom: 110px;
    }
    .heading h2 {
        width: auto;
    }
    .heading p {
        font-size: 14px;
        line-height: 18px;
    }
    .banner-slider .slick-dots {
        margin-top: 50px;
    }
    .about-wrap-img {
        max-width: 40%;
        margin-left: 40px;
    }
    .box-skills_item {
        
    }
    .box-skills_item-img {
        width: 44%;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }
    .section-bg {
        height: auto;
        min-height: 550px;
    }
    .quote-text {
        font-size: 35px;
        line-height: 50px;
    }
    .team-list_img {
		height: 150px;
		width: 150px;
	}
	.team-list_img:after {
		height: 152px;
		width: 152px;
	}
	.team-list_item p {
		font-size: 14px;
		line-height: 22px;
	}
    .pricing {
		margin-left: 3%;
	}
	.pricing_item {
		width: 210px;
	}
	.clients-list_item a {
		height: 130px;
	}
    .blog-list {
        margin: 0 -20px;
    }
    .blog-list-item {
        width: calc(50% - 40px);
        margin: 0 20px 40px;
    }
    .blog-list-title {
        font-size: 18px;
        padding: 20px 20px 15px;
    }
    .blog-list-info {
        padding-left: 25px;
        padding-right: 0;
}
}
@media (min-width: 992px) {
    .menu {
        display: flex !important;
    }
}
/*max-width: 991px================================================*/
@media (max-width: 991px) {
    .heading {
        margin-bottom: 80px;
    }
    .menu-toggle {
        display: inline-block;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 38px;
    }
    .navigation {
        position: relative;
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        margin-top: 20px;
        right: 0;
        min-width: 200px;
        padding: 10px 0;
        background: rgba(0,0,0,0.7);
    }
    .menu_item {
        margin-left: 0;
    }
    .menu_item::after {
        display: none;
    }
    .menu_link {
        display: block;
        padding: 10px 20px;
    }
    .menu_link:hover {
        color: #fff;
        
    }
    .menu-toggle span {
        display: block;
        height: 3px;
        background: #fff;
    }
    .menu-toggle span + span {
        margin-top: 8px;
    }
    .section {
		padding: 70px 0;
	}
	.hr {
		margin: 80px 0;
	}
	.about-wrap, .box-skills {
		display: block;
	}
	.about-wrap-img {
		margin: 40px auto 0;
		max-width: 80%;
	}
	.about-wrap-img img {
		width: 100%;
	}
	.box-skills_item-img {
		margin: 0 auto 40px;
		width: auto;
		padding-right: 0;
		text-align: center;
	}
	.box-skills_item-content {
		padding-left: 0;
	}
	.box-skills_item {
		width: auto;
	}
    .section-bg {
		min-height: 480px;
	}

	.quote-text {
		font-size: 30px;
		line-height: 42px;
	}
	.quote-text:after, .quote-text:before {
		font-size: 91px;
	}
	.quote-author {
		font-size: 19px;
		line-height: 25px;
	}
	.quote_author:before {
		margin-bottom: 18px;
	}

	.team-list {
		flex-wrap: wrap;
	}
	.team-list_item {
		width: 50%;
	}

	.facts-list_icon {
		width: 140px;
		height: 140px;
		margin-bottom: 20px;
	}
	.facts-list h5 {
		font-size: 20px;
		line-height: 24px;
	}
	.facts-list h5 span {
		font-size: 35px;
		line-height: 42px;
	}
    .service-list {
		margin: 0 -10px;
	}
	.service-list_item {
		padding: 0 10px;
	}
	.service-list_item p, .contact-wrap p, .contact-list_item {
		font-size: 14px;
		line-height: 22px;
	}
	.box-pricing  {
		display: block;
	}

	.box-pricing .service-list_item {
		text-align: center;
		max-width: 80%;
		margin: 0 auto 50px;
	}
	.box-pricing .service-list_icon {
		margin-left: auto;
	}
	.pricing {
		margin-left: 0;
	}
	.pricing_item {
		width: auto;
		flex: 1;
	}
	.contact-wrap_right {
		padding-left: 30px;
	}
	.clients-list__item a {
		height: 115px;
	}
	.footer-flex {
        
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer-flex .social {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.copyright {
		order: 1;
		text-align: center;
	}
    .nav-tab-list {
        margin-bottom: 40px;
    }
    .nav-tab-list__item {
        margin: 0 10px;
    }
    .nav-tab-list__item::after {
        display: none;
    }
    .portfolio-list__item {
        width: 33.33%;
    }
    .blog-list-img {
        display: block;
    }
    .blog-list-icon {
        position: absolute;
        top: 0;
        left: 0;
    }
    .blog-list-title {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .blog-list-header {
        position: static;
    }
    .blog-list-footer {
        display: block;
    }
    .blog-list-date {
        text-align: left;
        margin-bottom: 10px;
    }
    .blog-list-date span {
        display: inline-block;
        margin-right: 10px;
    }
    .blog-list-date span:last-child {
        margin-right: 0;
    }
    .blog-list-info {
        padding-left: 0;
    }
}
/*max-width: 767px=========================================*/
@media (max-width: 767px) {
	.wrapper {
		padding-left: 20px;
        padding-right: 20px;
	}
    h1, h1 .sm {
        font-size: 20px;
        line-height: 28px;
    }
    h1 .lg {
        font-size: 32px;
        line-height: 40px;
    }
    header {
        top: 20px;
    }
    .logo a {
        height: 80px;
        width: 80px;
        font-size: 20px;
        line-height: 20px;
    }
	.section {
		padding: 40px 0;
	}
	.hr {
		margin: 45px 0;
	}
	.heading {
		display: block;
		margin-bottom: 50px;
	}
	.heading p {
		display: none;
	}
	.heading h2 {

		margin-right: 0;
		text-align: center;
	}
	.heading h2:after {
		position: static;
		margin: 10px auto 0;
		width: 45px;
		height: 4px;
	}
	.about-wrap-content {
		display: block;
		text-align: center;
	}
	.about-wrap-content_icon {
		margin: 0 auto 30px;
	}
	.about-wrap-img {
		max-width: 100%
	}
    .banner {
        min-height: 1px;
        height: auto;
        padding-bottom: 90px;
    }
    .banner::after {
        display: none;
    } 
    .banner-slider .slick-dots {
        margin-top: 30px;
    }
	.section-bg {
		padding-top: 60px;
		padding-bottom: 60px;
		min-height: 200px;
		background-image: none;
		background-color: #2b2a2a;
	}

	.quote-text {
		font-size: 22px;
		line-height: 28px;
		padding: 0 40px;
	}
	.quote-text:after, .quote-text:before {
		font-size: 70px;
	}
	.quote-author {
		font-size: 16px;
		line-height: 20px;
	}
	.quote-author:before {
		margin-bottom: 15px;
	}

	.social-link {
		margin-right: 9px;
	}

	.facts-list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.facts-list_item {
		width: 50%;
		margin-bottom: 20px;
	}
	.facts-list_icon {
		margin: 0 auto 15px;
	}
    .service-list {
		display: block;
	}
	.service-list_item, .box-pricing .service-list_item {
		margin: 0 auto 40px;
		max-width: 420px;
	}
	.pricing {
		display: block;
		margin: 0 auto;
		max-width: 420px;
	}
	.pricing_item:first-child {
		border-right: 1px solid #e6e6e6;
		margin-top: 0px;
	}
	.pricing_item:last-child {
		border-left: 1px solid #e6e6e6;
		margin-top: 0px;
	}
	.testimonial_text {
		font-size: 18px;
		line-height: 24px;
	}
	.contact-wrap {
		display: block;
	}
	.contact-wrap-left {
		width: auto;
		margin-bottom: 40px;
	}
	.contact-wrap-right {
		padding-left: 0;
		width: auto;
	}
	.clients-list {
		display: block;
		text-align: center;
	}
	.clients-list-item {
		display: inline-block;
		vertical-align: top;
		width: 220px;
	}
    .nav-tab-list__item.active .nav-tab-list__link {
        display: inline-block;
        padding: 10px 50px;
        max-width: 250px;
        text-align: center;
        border: 2px solid;
        border-radius: 6px;
    }
    .nav-tab-list__link {
        display: inline-block;
        padding: 10px 30px;
        max-width: 250px;
        min-width: 180px;
        text-align: center;
        border: 2px solid;
        border-radius: 6px;
    }
    .nav-tab-list .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 38px;
        border: 2px solid #e6e6e6;
        background-color: #fff;
        margin: 0 4px;
        z-index: 10;
    }
    .nav-tab-list .slick-next {
        right: 0;
    }
    .portfolio-list {
        display: block;
    }
    .portfolio-list__item {
        width: auto;
    }
    .blog-list {
        display: block;
    }
    .blog-list-item {
        width: auto;
    }
    #map {
		height: 320px;
	}
	#map:before, #map:after {
		display: none;
	}
}
/*max-width: 479px===============================================*/
@media (max-width: 479px) { 
	.quote-text {
		font-size: 16px;
		line-height: 22px;
		padding: 0;
		margin-bottom: 25px;
	}
	.quote-text:after, .quote-text:before {
		position: static;
		display: inline-block;
		font-size: 25px;
		line-height: 20px;
	}
	.team-list, .facts-list {
		display: block;
	}
	.team-list_item {
		width: auto;
		border-bottom: 1px solid #eee
	}
	.facts-list_item {
		width: auto;
	}
}












